<div class="bg-vibrant rounded-lg m-4 relative z-0 @container/cta">
    <div class="py-5 px-10 relative z-0">
        <div class="flex flex-col align-middle items-center gap-4 place-content-center @md/cta:flex-row">
            <div class="text-center @md/cta:text-left">
                <h2 class=" font-serif mb-3 text-3xl text-black text-slate-100">Aún quedan plazas libres</h2>
                <p class="hidden @lg/cta:block text-white font-sans">El plazo de inscripción sigue abierto y estás a tiempo de participar en la próxima liga de tennis.</p>
            </div>
            <a href="#" class="font-serif grow-0 text-back bg-white font-medium rounded-full px-5 py-2.5 text-center">
                Inscríbete
            </a>
        </div>
    </div>
</div>