<footer class="font-serif m-4 px-5 border-t-2 border-primary-600">
    <div class="w-full flex flex-col gap-4 p-3 lg:flex-row justify-between">
        <a class="text-primary-600 underline hover:text-primary-800" href="index.html">
            <span class="icon material-icons-sharp">sports_tennis</span>
            LIGA DE TENNIS
        </a>
        <div class="flex flex-col flex-wrap gap-4 lg:flex-row">
            <a href="index.html" class="link underline">
                <i class="bi bi-house-door-fill"></i>
                Inicio
            </a>
            <a href="participantes.html" class="link underline">
                <i class="bi bi-person-arms-up"></i>
                Participantes
            </a>
            <a href="sobre_la_iniciativa.html" class="link underline">
                <i class="bi bi-trophy-fill"></i>
                Sobre la iniciativa
            </a>
            <a href="contacto.html" class="link underline">
                <i class="bi bi-chat-text-fill"></i>
                Contacto
            </a>
        </div>
        <div class="flex flex-row gap-4">
            <a href="#" class="link">
                <i class="bi bi-twitter-x"></i>
            </a>
            <a href="#" class="link">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="#" class="link">
                <i class="bi bi-strava"></i>
            </a>
        </div>
    </div>
</footer>